extends _layout.pug

block styles
  include css/aboutUs.css

block content
  nav
    a(href="/") Home
    br
  mixin bio(name, picture='http://placekitten.com/150/150')
    .bio-card
      img.bio-card_image(src=picture, alt=name)
      .bio-card-text
        h3= name
        block

  mixin questions(answer1, answer2, answer3)
    .questions 
      ul
        li #[strong Favorite Portland Neighborhood?] #{answer1}
        li #[strong What's Your Story?] #{answer2}
        li #[strong Coolest Part of This Project?] #{answer3}

  +bio('Kevin Fiero', '/kevin.jpg')
    +questions('Pearl', 'I worked in the supply chain and software industry for several years since college. My experience as a scrum master and automating boring tasks with ad hoc scripts piqued my interest in becoming a full time software engineer. On my free time I like to 3D print, hike, and rock climb.', 'Scraping Zillow and getting my IP address blacklisted for being a robot.')
  +bio('Erik Graciosa')
    +questions('blah', 'blah', 'blah')
  +bio('Jeff Irvine')
    +questions('blah', 'blah', 'blah')
  +bio('Sydney James', '/sydney.jpg')
    +questions('Irvington', 'In my past life I worked in the wine industry and in hospitality as a sales and event manager. I found coding through a desire to solve problems and challenge myself to do something HARD. In my free time I\'m an avid home cook, house project-doer, and not-musically-inclined karaoke queen.', 'Successful scraping and using nodemailer.') 
  nav
    a(href="/") Home
    br