extends _layout.pug

block styles
  include css/filters.css

block content
  nav
    a(href="/") Home
    a(href="/about-us") About Us
    br
  button.button1#logoutButton  Logout
  p Add a new filter
  form(id="add-filter" action="/api/v1/filter" method="post")
    input(type="text" name="filterName" placeholder="name of filter" required)
    input(type="number" name="squareFeetMin" placeholder="sqft-minimum" required)
    input(type="number" name="squareFeetMax" placeholder="sqft-maximum" required)
    mixin numbers(name)
      select(name=name)
        each val in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
          option(value=val)= val
    label Min Beds
      +numbers('bedMin')
    label Max Beds
      +numbers('bedMax')
    label Min Baths
      +numbers('bathMin')
    label Max Baths
      +numbers('bathMax')
    input(type="number" name="priceMin" placeholder="price-minimum" required)
    input(type="number" name="priceMax" placeholder="price-maximum" required)
    button#submitButton Add Filter
  h1 Saved Filters
    table(style='width:100%', border='1')
      tr
        th Filter Name
        th Min SQFT
        th Max SQFT
        th Min Bed
        th Max Bed
        th Min Bath
        th Max Bath
        th Min Price
        th Max Price
        th
      each filter in filters  
        tr
          td #{filter.filterName}
          td #{filter.squareFeetMin} sqft
          td #{filter.squareFeetMax} sqft
          td #{filter.bedMin} bd
          td #{filter.bedMax} bd
          td #{filter.bathMin} ba
          td #{filter.bathMax} ba
          td $#{filter.priceMin}
          td $#{filter.priceMax}
          td
            button.delete-button(id=filter.filterId) Delete Filter
        

  script
    include js/filters.js
    include js/buttonLogic.js
  