extends _layout.pug

block styles
  include css/filters.css

block content
  p Add a new filter
  form(action="")
    input(type="text" placeholder="name of filter")
    input(type="number" placeholder="sqft")
    select
      option(value="1") 1 bed
      option(value="2") 2 bed
    select
      option(value="1") 1bath
      option(value="2") 2bath
    button Add Filter
  h1 Saved Filters
    ul
      each filter in filters
        li
          span Name #{filter.filterName}, 
          span sqft-min #{filter.squareFeetMin}, 
          span sqft-max #{filter.squareFeetMax}, 
          span bed-min #{filter.bedMin}, 
          span bed-max #{filter.bedMax}, 
          span bath-min #{filter.bathMin}, 
          span bath-max #{filter.bathMax}, 
          span price-min #{filter.priceMin}, 
          span price-max #{filter.priceMax}, 
          span userId #{filter.userId}
          button.delete-button(id=filter.filterId) Delete Filter #{filter.filterId}
  //- Example for another variable passed in, can delete later        
  h1=listing

  script
    include js/filters.js
  