extends _layout.pug

block styles
  include css/filters.css

block content
  nav
    a(href="/") Home
    a(href="/about-us") About Us
    br
  button.button1#logoutButton  Logout
  p Add a new filter
  form(id="add-filter" action="/api/v1/filter" method="post")
    input(type="text" name="filterName" placeholder="name of filter" required)
    input(type="number" name="squareFeetMin" placeholder="sqft-minimum" required)
    input(type="number" name="squareFeetMax" placeholder="sqft-maximum" required)
    label Min Beds
      select(name="bedMin") 
        option(value="0") 0
        option(value="1") 1
        option(value="2") 2
        option(value="3") 3
        option(value="4") 4
        option(value="5") 5
        option(value="6") 6
        option(value="7") 7
        option(value="8") 8
        option(value="9") 9
        option(value="10") 10
        option(value="11") 11
        option(value="12") 12
        option(value="13") 13
        option(value="14") 14
        option(value="15") 15
    label Max Beds
      select(name="bedMax")
        option(value="0") 0
        option(value="1") 1
        option(value="2") 2
        option(value="3") 3
        option(value="4") 4
        option(value="5") 5
        option(value="6") 6
        option(value="7") 7
        option(value="8") 8
        option(value="9") 9
        option(value="10") 10
        option(value="11") 11
        option(value="12") 12
        option(value="13") 13
        option(value="14") 14
        option(value="15") 15
    label Min Baths
      select(name="bathMin")
        option(value="0") 0
        option(value="1") 1
        option(value="2") 2
        option(value="3") 3
        option(value="4") 4
        option(value="5") 5
        option(value="6") 6
        option(value="7") 7
        option(value="8") 8
        option(value="9") 9
        option(value="10") 10
        option(value="11") 11
        option(value="12") 12
        option(value="13") 13
        option(value="14") 14
        option(value="15") 15
    label Max Baths
      select(name="bathMax")
        option(value="0") 0
        option(value="1") 1
        option(value="2") 2
        option(value="3") 3
        option(value="4") 4
        option(value="5") 5
        option(value="6") 6
        option(value="7") 7
        option(value="8") 8
        option(value="9") 9
        option(value="10") 10
        option(value="11") 11
        option(value="12") 12
        option(value="13") 13
        option(value="14") 14
        option(value="15") 15
    input(type="number" name="priceMin" placeholder="price-minimum" required)
    input(type="number" name="priceMax" placeholder="price-maximum" required)
    button#submitButton Add Filter
  h1 Saved Filters
    table(style='width:100%', border='1')
      tr
        th Filter Name
        th Min SQFT
        th Max SQFT
        th Min Bed
        th Max Bed
        th Min Bath
        th Max Bath
        th Min Price
        th Max Price
        th
      each filter in filters  
        tr
          td #{filter.filterName}
          td #{filter.squareFeetMin} sqft
          td #{filter.squareFeetMax} sqft
          td #{filter.bedMin} bd
          td #{filter.bedMax} bd
          td #{filter.bathMin} ba
          td #{filter.bathMax} ba
          td $#{filter.priceMin}
          td $#{filter.priceMax}
          td
            button.delete-button(id=filter.filterId) Delete Filter
        

  script
    include js/filters.js
    include js/buttonLogic.js
  